<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <div>
        <h3>403page</h3>

        <hr />
        <h3>로그인 전</h3>
        <a th:href="@{member/security_login}">로그인</a>
        <a th:href="@{member/security_join}">회원가입</a>

        <hr />
        <h3>로그인 후</h3>
        <a th:href="@{security_admin/home}">관리자홈</a>
        <a th:href="@{security_seller/home}">판매자홈</a>
        <a th:href="@{security_customer/home}">고객홈</a>
    </div>
</body>
</html>