<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>물품 내용</title>
</head>
<body>
    <div>
        <h3>물품 내용</h3>
        <hr />
        <a th:href="@{/item/selectlist}"> 목록으로 </a> <br />

        코드: <p style="display: inline-block;" th:text="${item.icode}"> </p> <br />
        이름: <p style="display: inline-block;" th:text="${item.iname}"> </p> <br />
        내용: <p style="display: inline-block;" th:text="${item.icontent}"> </p> <br />
        가격: <p style="display: inline-block;" th:text="${item.iprice}"> </p> <br />
        수량: <p style="display: inline-block;" th:text="${item.iquantity}"> </p> <br />
        등록일: <p style="display: inline-block;" th:text="${item.iregdate}"> </p> <br />
        이미지: <img th:src="@{/item/image(code=${item.icode})}" style="width:50px;height:50px" />
        <hr />

        <h3>서브이미지 등록</h3>
        <form th:action="@{/item/insertimages}" method="post" enctype="multipart/form-data">
            
            <input type="hidden" name="icode" th:value="${item.icode}">
            <th:block th:each="i: ${#numbers.sequence(1, 3)}">
                <input type="file" name="timage" /> <br />
            </th:block>
            <input type="submit" value="서브이미지일괄등록">
        </form>

        <h3>등록된 이미지 표시</h3>
        <table>
            <tr>
                <th>물품이미지코드</th>
                <th>이미지</th>
                <th>버튼</th>
            </tr>
            <tr th:each="tmp : ${imgcode}">
                <td th:text="${tmp}"></td>
                <td><img th:src="@{/item/subimage(imgcode=${tmp})}" style="width:50px;height:50px" /></td>
                <td>수정, 삭제</td>
            </tr>
        </table>
    </div>
</body>
</html>