<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Item">

    <insert id="insertItemOne" parameterType="com.example.dto.ItemDTO">
        INSERT INTO ITEM(ICODE, INAME, ICONTENT, IPRICE, IQUANTITY, IIMAGE, IIMAGESIZE, IIMAGETYPE, IIMAGENAME, UEMAIL)
        VALUES(SEQ_ITEM_ICODE.NEXTVAL, #{iname}, #{icontent}, #{iprice}, #{iquantity}, #{iimage, jdbcType=BLOB}, #{iimagesize}, #{iimagetype}, #{iimagename}, #{uemail})
    </insert>

    <select id="selectItemList" parameterType="map" resultType="com.example.dto.ItemDTO">
        SELECT*FROM (
            SELECT
                I.ICODE, I.INAME, I.IPRICE, I.IQUANTITY, I.IREGDATE, ROW_NUMBER() OVER (ORDER BY ICODE DESC) ROWN 
            FROM ITEM I
            WHERE I.INAME LIKE '%' || #{txt} || '%'
            AND I.UEMAIL = #{email}
        )
        WHERE ROWN BETWEEN #{start} AND #{end}
    </select>

    <select id="selectItemCount" parameterType="map" resultType="long">
            SELECT
                COUNT(*) CNT 
            FROM ITEM I
            WHERE I.INAME LIKE '%' || #{txt} || '%'
            AND I.UEMAIL = #{email}
    </select>

    <select id="selectItemOne" parameterType="long" resultType="com.example.dto.ItemDTO">
        SELECT 
            ICODE, INAME, ICONTENT, IPRICE, IQUANTITY, IREGDATE
        FROM
            ITEM
        WHERE ICODE = #{code}
    </select>

    <!-- IIMAGE를 변환시켜줘야함 -->
    <resultMap id="result1" type="com.example.dto.ItemDTO">
        <result column="IIMAGE" property="iimage" jdbcType="BLOB" />
    </resultMap>

    <select id="selectItemImageOne" parameterType="long" resultMap="result1">
        SELECT
            ICODE, IIMAGE, IIMAGESIZE, IIMAGETYPE, IIMAGENAME
        FROM
            ITEM
        WHERE ICODE = #{code}
    </select>

</mapper>
