<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주소 수정</title>
</head>
<body>
    <div>
        <h3>주소 수정</h3>
        <hr />
        <a th:href="@{/home}">홈으로</a>
        <form th:action="@{/member/updateaddraction}" method="post">
            <input type="hidden" name="ucode" th:value="${param.code}" />
            <!-- <input type="hidden" name="ucode" th:value="${addr.ucode}" /> -->
            주소     :  <input type="text" name="uaddresss" th:value="${addr.uaddresss}"> <br />
            우편번호 :  <input type="text" name="upostcode" th:value="${addr.upostcode}"> <br />
            <input type="submit" value="주소 수정">
        </form>
    </div>
</body>
</html>