<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판매자 로그인</title>
</head>
<body>
    <div style="padding: 20px">
        <h3>로그인</h3>
        <hr />

        <form th:action="@{/seller/select}" method="post">
            이메일: <input type="text" name="uemail"> <br />
            암호:   <input type="password" name="upw"> <br />
            <input type="submit" value="판매자로그인">
        </form>
    </div>
</body>
</html>